// Your variable overrides
$dark-blue: #1c264a;
$darker-blue-transparent: rgba(28, 38, 74, 0.5);
$darker-blue: #11182e;
$darker-blue-transparent: rgba(17, 24, 46, 0.5);
$light-blue: #273465;
$widget-bg: #2b3b70;
$gradient: linear-gradient($dark-blue, $light-blue);
// $body-bg: #1C264A;  BUG1 For some reason this can't be set to the variable gradient
// $body-color: #1C264A;
$primary: #d8719e;
$secondary: #fadadd;
$primary-shade: #d86dbf;
$primary-gradient: linear-gradient($primary, $primary-shade);

@import '../../node_modules/bootstrap/scss/bootstrap';

// Your css overrides
body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background: $gradient; // This is here because of BUG 1
}

.page-container {
    display: flex;
    // height: 100%;
}

#login-screen {
    flex-direction: column;
    height: 100vh;

    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 auto;

        .content-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        // margin-top: auto;
        flex-shrink: 0;
        height: fit-content;

        .footer-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: center;
            padding: 0;

            li {
                a {
                    color: lightgrey;
                    margin-left: 10vh;
                    margin-right: 10vh;
                }

                a:hover {
                    color: white;
                }
            }
        }
    }

    #loggedin {
        .media {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
}

#dashboard {
    flex-direction: column;

    .navbar {
        display: flex;
        flex-direction: row;
        height: 80px;
        align-items: center;
        // background-color: $dark-blue-transparent;

        color: white;
        font-size: large;
    }

    .middle {
        // display: flex;
        // flex-direction: row;
        // flex-grow: 1;

        page-content {
            margin: 0 auto;
            width: 20%;
        }

        // .top_widget {
        //     // width: 33%;
        //     // height: 100%;

        //     .top-stuff {
        //         background: $widget-bg;
        //         color: white;
        //         font-weight: 200;
        //     }

        //     .chart-container {
        //         position: relative;
        //         width: 100%;
        //         height: 99%;
        //     }
        //     .card-table {
        //         color: white;
        //     }

        //     .top-buttons {
        //         border-color: $primary;
        //         color: white;
        //         margin-top: 0;
        //     }

        //     .btn-group {
        //         padding: 0;
        //         margin: 0;
        //     }

        //     .top-texts {
        //         margin-top: 5px;
        //     }
        // }

        // #profile_widget {
        //     // width: 66%;
        //     // height: 100%;

        //     .top-stuff {
        //         background: $light-blue;
        //         color: white;
        //         font-weight: 200;
        //     }

        //     .bottom-stuff {
        //         background: $widget-bg;
        //         color: white;
        //         font-weight: 200;
        //     }

        //     .chart-container {
        //         position: relative;
        //         width: 100%;
        //         height: 99%;
        //     }
        // }

        // #AF_widget {
        //     width: 66%;
        //     height: 100%;

        //     .top-stuff {
        //         background: $light-blue;
        //         color: white;
        //         font-weight: 200;
        //     }

        //     .bottom-stuff {
        //         background: $widget-bg;
        //         color: white;
        //         font-weight: 200;
        //     }

        //     .chart-container {
        //         position: relative;
        //         width: 100%;
        //         height: 99%;
        //     }
        // }
    }
}

#about-us {
    flex-direction: column;
    body {
        font-family: 'Montserrat', sans-serif;
        color: #818181;
    }
    h1 {
        font-size: 50px;
        color: #ffffff;
        font-weight: 800;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #000000;
        font-weight: 600;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 20px;
        line-height: 1.375em;
        color: #000000;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .carousel-item {
        background: $primary;
        color: white;
    }
    .container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 20px;
    }
    .jumbotron {
        background-color: $light-blue;
        font-size: 50px;
        color: #fff;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
        .para {
            font-size: 20px;
        }
    }
    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .team {
        background-color: black;
        color: #fff;
        padding: 60px;
        font-family: Montserrat, sans-serif;
        .para {
            font-size: 50px;
            padding-bottom: 25px;
        }
    }
    .container-fluid {
        padding: 60px 50px;
    }
    .bg-grey {
        background-color: #f6f6f6;
    }
    .bg-babypink {
        background-color: #776885;
    }
    .bg-pink {
        background-color: $primary;
    }
    .bg-white {
        background-color: white;
    }
    .logo-small {
        color: #f4511e;
        font-size: 50px;
    }
    .logo {
        color: #f4511e;
        font-size: 200px;
    }
    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
    }
    .item span {
        font-style: normal;
    }
    .panel {
        border: 1px solid #f4511e;
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
    }
    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
    }
    .panel-footer .btn:hover {
        border: 1px solid #f4511e;
        background-color: #fff !important;
        color: #f4511e;
    }
    .panel-heading {
        color: #fff !important;
        background-color: #f4511e !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .panel-footer {
        background-color: white !important;
    }
    .panel-footer h3 {
        font-size: 32px;
    }
    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }
    .panel-footer .btn {
        margin: 15px 0;
        background-color: #f4511e;
        color: #fff;
    }
    .navbar {
        height: 70px;
        align-items: center;

        color: white;
        font-size: large;
    }
}

.btn {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 25px;
}

.widget {
  border-radius: 5px;
  padding: 5px 5px 5px 5px;

  .card {
      background: $widget-bg;
      color: white;

      .card-header {
          background: $light-blue;
      }
  }
}

#login-to-spotify-button {
    margin-top: 5vh;
    width: 30vh;
}

#icon {
    color: #fff;
    font-size: 1.35em;
}
