// Your variable overrides
$dark-blue: #1c264a;
$darker-blue-transparent: rgba(28, 38, 74, 0.5);
$darker-blue: #11182e;
$darker-blue-transparent: rgba(17, 24, 46, 0.5);
$light-blue: #273465;
$widget-bg: #2b3b70;
$gradient: linear-gradient($dark-blue, $light-blue);
// $body-bg: #1C264A;  BUG1 For some reason this can't be set to the variable gradient
// $body-color: #1C264A;
$primary: #d8719e;
$secondary: #fadadd;
$primary-shade: #d86dbf;
$primary-gradient: linear-gradient($primary, $primary-shade);
$primary-gradient2: linear-gradient($primary, $secondary);

@import '../../node_modules/bootstrap/scss/bootstrap';

// Your css overrides
body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background: $gradient; // This is here because of BUG 1
}

body::-webkit-scrollbar {
    width: 15px;
    background-color: $dark-blue;
}

body::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-image: $gradient;
}

body::-webkit-scrollbar-thumb {
    border-radius: 7px;
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-image: -webkit-linear-gradient($primary, $primary);
}

.page-container {
    display: flex;
    // height: 100%;
}

#login-screen {
    flex-direction: column;
    height: 100vh;

    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 auto;

        .content-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        // margin-top: auto;
        flex-shrink: 0;
        height: fit-content;

        .footer-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: center;
            padding: 0;

            li {
                a {
                    color: lightgrey;
                    margin-left: 10vh;
                    margin-right: 10vh;
                }

                a:hover {
                    color: white;
                }
            }
        }
    }

    #login-to-spotify-button {
        margin-top: 5vh;
        width: 30vh;
    }

    #loggedin {
        .media {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
}

#dashboard {
    flex-direction: column;

    .middle {
        .page-content {
            margin-bottom: 80px;
        }
    }
    .widget {
        border-radius: 5px;
        padding: 5px 5px 5px 5px;

        .card {
            background: $widget-bg;
            color: white;

            .card-header {
                background: $light-blue;
                display: flex;
                flex-direction: row;
                padding: 0.4rem 0.4rem 0.2rem 0.6rem;
            }
        }
    }
    .top_widgets {
        .btn-group {
            padding: 0px;
            margin-top: 15px;
        }
        .card-body {
            padding-top: 0px;
            .card-text {
                overflow: visible;
                // padding: 5px 5px 5px 15px;
                img {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    border-radius: 5px;
                }
                .entry:last-child {
                    padding-bottom: 0px;
                }
            }
        }
        .entry {
            display: flex;
            flex-direction: row;
            padding-bottom: 15px;
            overflow: visible;

            .song-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                a {
                    padding-left: 10px;
                    font-size: 20px;
                    color: white;
                    text-decoration: none;
                }
                a:hover {
                    color: $primary-shade;
                }

                #artist-name {
                    font-size: 15px;
                    padding-left: 10px;
                    color: lightgrey;
                    text-decoration: none;
                }

                #artist-name:hover {
                    color: $primary-shade;
                }
            }
        }
        .scrollable {
            overflow-y: auto;
            margin-top: 15px;
            max-height: 400px;
            background-color: $light-blue;
            border-radius: 8px;
        }
        #createPlaylist {
            margin: 16px 0px 0px auto;
            float: right;
            padding: 5px 15px 5px 10px;
            color: white;
            font-weight: 500;
            background-color: $primary;
            i {
                color: white;
            }
        }
        #createPlaylist:hover {
            background-color: $primary-shade;
        }
    }
    #profile_widget {
        .card-body {
            display: flex;
            flex-direction: column;
            .profile-header {
                display: flex;
                flex-direction: row;
                .name-div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-top: 12px;
                    h1 {
                        padding-left: 20px;
                    }
                    p {
                        padding-left: 10px;
                    }
                    #followers {
                        color: lightgray;
                        font-size: 15px;
                        padding-top: 10px;
                    }
                }
            }
            .other-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 20px;
            }
        }
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    #topGenres_widget {
        .card-body {
            padding: 0px;
        }
        .chart-container {
            padding: 15px;
            margin: 15px;
            opacity: 1;
        }
    }
    #allGenres_widget {
        .entry {
            padding-bottom: 0px;
            justify-content: left;
            align-items: center;
        }
        .entry:first-child {
            padding-top: 15px;
        }
        p { 
            padding: 0px 0px 15px 10px;
            margin-bottom: 0px;
            font-size: 20px;
            color: white;
        }
    }
}

#about-us {
    flex-direction: column;
    .carousel {
        .carousel-indicators {
            padding-top: 20px; position: relative;
        }
    }
    body {
        font-family: 'Montserrat', sans-serif;
        color: #818181;
    }
    h1 {
        font-size: 50px;
        color: #ffffff;
        font-weight: 800;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #000000;
        font-weight: 600;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 20px;
        line-height: 1.375em;
        color: #000000;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .carousel-item {
        background: $primary;
        color: white;
    }
    .container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 20px;
    }
    .jumbotron {
        background-color: $light-blue;
        font-size: 50px;
        color: #fff;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
        .para {
            font-size: 20px;
        }
    }
    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .team {
        background-color: black;
        color: #fff;
        padding: 60px;
        font-family: Montserrat, sans-serif;
        .para {
            font-size: 50px;
            padding-bottom: 25px;
        }
    }
    .container-fluid {
        padding: 60px 50px;
    }
    .bg-grey {
        background-color: #f6f6f6;
    }
    .bg-babypink {
        background-color: #776885;
    }
    .bg-pink {
        background-color: $primary;
    }
    .bg-white {
        background-color: white;
    }
    .logo-small {
        color: #f4511e;
        font-size: 50px;
    }
    .logo {
        color: #f4511e;
        font-size: 200px;
    }
    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
    }
    .item span {
        font-style: normal;
    }
    .panel {
        border: 1px solid #f4511e;
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
    }
    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
    }
    .panel-footer .btn:hover {
        border: 1px solid #f4511e;
        background-color: #fff !important;
        color: #f4511e;
    }
    .panel-heading {
        color: #fff !important;
        background-color: #f4511e !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .panel-footer {
        background-color: white !important;
    }
    .panel-footer h3 {
        font-size: 32px;
    }
    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }
    .panel-footer .btn {
        margin: 15px 0;
        background-color: #f4511e;
        color: #fff;
    }
    .navbar {
        height: 70px;
        align-items: center;

        color: white;
        font-size: large;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    background-color: $dark-blue;

    color: white;
    font-size: large;

    #refresh_button {
        transition: 1s ease;
    }
    #refresh_button:hover {
        transform: rotate(360deg);
    }
    #logout_button {
        transition: 1s ease;
    }
    #logout_button:hover {
        transform: translate(-10px, 0px)
    }
}

.btn {
    color: white;
    // font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px 0px 5px 0px;
    border-radius: 8px;
}

#icon {
    color: #fff;
    font-size: 1.35em;
}

.scrollToTopBtn {
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;

    //BOTTOM RIGHT HAND CORNER
    position: fixed;
    bottom: 30px;
    right: 30px;
    //DISPLAY ON ZE TOP
    z-index: 100;
    // OPAC
    opacity: 0;
    //TRANSALTE ZOOM ZOOM
    transform: translateY(100px);
    //TRANSITION NOICE
    transition: all 0.5s ease;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

a img {
    transition: 0.5s ease;
}

a img:hover {
    opacity: 0.9;
    transform: scale(0.95);
}