<nav class="navbar navbar-dark primary navbar-expand-sm sticky-top">
    <div class="container-fluid">
        <a href="/dashboard" class="navbar-brand"><img alt = "logo" src="img/statisfy_logo.png" height="60"></a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="nav navbar-nav me-auto">
                {{#if dashboard}}
                <li class="nav-item active"><a class="nav-link active" href="">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
                {{/if}}
                {{#if aboutus}}
                <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class="nav-item active"><a class="nav-link active" href="">About Us</a></li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="/auth/logout" class="nav-link"><img alt = "log out" src="img/logout-button.png" height="50"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>