.topbar{
	background-color: #283464;
	position: fixed;
	top: 0px;
  	left: 0px;
  	width: 100%;
  	height: 120px;
	z-index: 5;
}

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  top: 120px;
  left: 0;
  background-color:#161E3C;
  overflow-x: hidden;
  padding-top:20px;
  z-index: 5;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
}
.sidenav a:hover {
  color: #D8719E;
}
#profile {
	float:right;
	padding-top: 10px;
	padding-right: 10px;
}
#logo {
	padding-top: 10px;
	padding-bottom: 5px;
}