<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Statisfy - {{ title }}</title>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		<div class="page-container" id="dashboard">
            {{> navBar}}
			<div class="middle">
				{{{body}}}
			</div>
		</div>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

		<script scr="node_modules/"></script>
	</body>
</html>