<!DOCTYPE html>
<html lang="en">

<head>
    <title>Statisfy - Login</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Custom Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Fixes favicon bug -->
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="page-container" id="login-screen">
        <div class="page-content">
            {{{body}}}
        </div>

        <footer>
            <ul class="footer-links">
                <li class="footer-item"><a href="./aboutus" class="nav-link">About</a></li>
                <li class="footer-item"><a href="./aboutus" class="nav-link">Terms of Service</a></li>
                <li class="footer-item"><a href="./aboutus" class="nav-link">Cookie Policy</a></li>
            </ul>
        </footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
        <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
</body>
</html>