<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Statisfy - {{ title }}</title>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
		<link rel="stylesheet" href="/css/styles.css">

		<!-- Custom Font -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	</head>

	<body>
		<div class="page-container" id="dashboard">
            {{> navBar}}
			<div class="middle">
				<div class="page-content">
                    {{{body}}}
				</div>
			</div>
		</div>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <!-- Chart.js and canvas -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js" integrity="sha512-FJ2OYvUIXUqCcPf1stu+oTBlhn54W0UisZB/TNrZaVMHHhYvLBV9jMbvJYtvDe5x/WVaoXZ6KB+Uqe5hT2vlyA==" crossorigin="anonymous"></script>

		<script scr="node_modules/"></script>
		<script>
			var ctx = document.getElementById("doughnut-chart");
		var cty = document.getElementById("bar-chart");

		var doughnut = new Chart(ctx, {
			type: 'doughnut',
			data: {
				labels: ["Pop", "Classical", "Alternative", "Hip-Hop", "Bollywood"],
				datasets: [
					{
						label: "Genres (%)",
						data: [10, 20, 15, 40, 15], 
						backgroundColor: [
						'rgba(255, 99, 132, 0.8)',
						'rgba(255, 159, 64, 0.8)',
						'rgba(255, 205, 86, 0.8)',
						'rgba(75, 192, 192, 0.8)',
						'rgba(153, 102, 255, 0.8)',
						'rgba(201, 203, 207, 0.8)'
						]
					}
				]
			},

			//Config options
			options: {
				plugins: {
					legend: {
						position: "right",
						title: {
							color: "white",
							display: true,
							text: "Genres (%):"
						},
						labels: {
							color: "white"
						}
					}
				},
				animations: {
					tension: {
					duration: 1000,
					easing: 'linear',
					from: 1,
					to: 0,
					loop: true
					}
				},
				maintainAspectRatio: false
			}
		});

		var bar = new Chart(cty, {
			type: 'bar',
			data: {
			labels: ["Acousticness", "Danceability", "Energy", "Instrumentalness", "Valence"],
			datasets: [
				{
				label: "Audio Feature",
				color: "rgb(256,256,256)",
				backgroundColor: [
					'rgba(255, 99, 132, 0.4)',
					'rgba(255, 159, 64, 0.4)',
					'rgba(255, 205, 86, 0.4)',
					'rgba(75, 192, 192, 0.4)',
					'rgba(54, 162, 235, 0.4)',
					'rgba(153, 102, 255, 0.4)',
					'rgba(201, 203, 207, 0.4)'
				],
				borderColor: [
					'rgb(255, 99, 132)',
					'rgb(255, 159, 64)',
					'rgb(255, 205, 86)',
					'rgb(75, 192, 192)',
					'rgb(54, 162, 235)',
					'rgb(153, 102, 255)',
					'rgb(201, 203, 207)'
				],
				data: {{audioFeatures}},
				borderWidth: 1
				}
			]
			},
			options: {
			title: {
				display: true,
				text: 'Average Audio Feature accross your Taste'
			},
			plugins: {
				legend: {
					labels: {
					color: "white"
					}
				}
			},
			scales: {
				y: {
				ticks:{
					color: "rgb(256,256,256)"
				}
				},
				x: {
				ticks:{
					color: "rgb(256,256,256)"
				}
				}
			},
			maintainAspectRatio: false,
			indexAxis: "y"
			}
		});
		</script>
	</body>
</html>