<div id="about-us">
  <div class="jumbotron text-center">
    <h1 class = "animate__animated animate__bounce">Statisfy</h1> 
    <p class="para animate__animated animate__bounceIn">The home of your music listening statistics</p> 
  </div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Statisfy</h2><br>
      <h4>The goal of Statisfy is to better help you understand your music habits through the now easy access to your Spotify Statistics. We use the Spotify Web API to display your recent listening history, top songs, albums, genres and many more statistics! </h4><br>
    </div>
    <div class="col-sm-4">
      <img src="img/spotifylogo.png" style="max-width: 40%; margin-left: 250px">
    </div>
  </div>
  </div>

  <div class="container-fluid bg-pink">
    <h1 class="text-center">FAQs</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item text-center active">
          <h2 stlye="color: white">How long did it take to make?</h2>
          <p>The Weeknd. Just kidding, it took just under 3 months to make, however including the planning, just under 6 months</p>
        </div>
        <div class="carousel-item">
          <h1>Example 2</h1>
        </div>
        <div class="carousel-item text-center">
          <!-- <h1>Example 3</h1> -->
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- Container (Services Section) -->
  <div class="container-fluid bg-white">
  <h2 class = "text-center animate__animated animate__backInUp">Your Data</h2>
  <div class="row">
    <div class="col-sm-4 element">
      <h4 class = "animate__animated animate__backInUp text-center">Data we collect</h4>
      <ul>
        <li>We will collect public data from the Spotify application such as username, profile picture, users the account follows, followers, public playlists.
        </li>
        <li>On top of the public information about the account, we will collect information about the user’s listening habits, recently played songs, playlists and artists, through Spotify’s API. </li>
        <li>All data provided will be used for analysis in order to create relevant and personalized  statistics.</li>
        <li>In addition, the user will have to give permission from the Spotify app before  our app will be able to collect any data.</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h4 class = "animate__animated animate__backInUp text-center">How we use your data</h4>
      <ul>
        <li>All user data will be stored in our database.</li>
        <li>The data will only be accessible by us (our team of developers) and the user</li>
        <li>We will only keep the user data as long as is needed to provide the service. The user will be able to request data deletion at any time.</li>
        <li>The privacy policy explains the exact use and storage of data collected through Spotify.</li>
      </ul>
    </div>
    <div class="col-sm-4 fancy">
      <h4 class = "animate__animated animate__backInUp text-center" >Privacy Policy</h4>
      <p>This service is provided by us at no cost and is intended for use as is. If you choose to use the service, then you agree to the collection and use of information in relation to this policy. The information that we collect is used for providing and improving the service. We will not use or share your information with anyone except as described in this policy.</p><br>
      <p>Statisfy uses cookies to allow the user to be logged in. You can refuse the use of cookies but parts of the service may not work as intended</p>
    </div>
  </div>

  
  </div>

  <div class="team">
    <h2 style="color: white;">DEVELOPERS</h2>
    <div class = "row">
      <div class = "col-lg-1">
        <img src="img/Adi.jpg.jpg" class="rounded-circle img " alt="Test Test"> 
        
      </div>
      <div class = "col-lg-1">
        <img src="img/alexandra.jpg" class="rounded-circle img " alt="Test Test">              
      </div>
      <div class = "col-lg-1">
        <img src="img/Karlo.jpg" class="rounded-circle img " alt="Test Test">
      </div>
      <div class = "col-lg-1">
        <img src="img/Maria.jpg" class="rounded-circle img " alt="Test Test">            
      </div>
    </div>

    <div class = "row py-3">
      <div class = "col-lg-1" style="display: inline-block; text-align: center;">
        <p>Adi</p>
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
      </div>
      <div class = "col-lg-1" style="display: inline-block; text-align: center;">
        <p class="text-center">Alexandra</p>
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
      </div>
      <div class = "col-lg-1" style="display: inline-block; text-align: center;">
        <p class="text-center" >Karlo</p>
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
      </div>
      <div class = "col-lg-1" style="display: inline-block; text-align: center;">
        <p class="text-center">Maria</p>
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
      
  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT US</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within the next year.</p>
      <p><span class="fa fa-map-marker" aria-hidden="true"></span> Manchester, UK</p>
      <p><span class="fa fa-phone" aria-hidden="true"></span> +44 798354632</p>
      <p><span class="fa fa-envelope-o" aria-hidden="true"></span> info@statisfy.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
