<div class="page-row">
	{{> widgets/profile}}
	{{> widgets/topGenres}}
</div>

<div class="page-row">
	{{> widgets/topTracks}}
	{{> widgets/topAlbums}}
	{{> widgets/topArtists}}
</div>

<div class="page-row">
	<div class="widget" id="widget-33">
	</div>
</div>



