<div class="page-content">
    <div class="container">
        <div class="row row-content">
            {{> widgets/profile}}
            {{> widgets/topGenres}}
        </div>
        <div class="row row-content">
            {{> widgets/acousticFeatures}}
        </div>
        <div class="row row-content">
            {{> widgets/topTracks}}
            {{> widgets/topArtists}}
            {{> widgets/recommendations}}
        </div>
		<div class="row row-content">
            {{> widgets/allGenres}}
            {{> widgets/recentlyPlayed}}
        </div>
    </div>
</div>
