<div class="content-row">
    <img src="/img/statisfy_logo.png" alt="logo" class="img-fluid" style="height: 18vh; width: auto;">
</div>
<div class="content-row">
    <div id="login" class="content-row">
        <a href="/auth/spotify" id="login-to-spotify-button" class="btn btn-primary" role="button">Log in with Spotify</a>
    </div>
</div>