<div class="widget" id="profile_widget">
    <div class="card text-center h-100">
        <div class="card-header top-stuff">
            <h4>Your Profile</h4>
        </div>
        <div class="card-body bottom-stuff">
            <p>Welcome {{ username }}</p>
            <P>Email: </p>
        </div>
    </div>
</div>