<div class="widget top_widget" id='topTracks_widget' >
    <div class='card top-stuff h-100 text-center'>
        <div class="card-header">
            <h4>Recommendations</h4>
        </div>
        <div class="card-body">
            <div class=" btn-group container-fluid" role="tracks-time" aria-label="Time range for top tracks">
                <button type="button" class="btn btn-outline-primary top-buttons">Artists</button>
                <button type="button" class="btn btn-outline-primary top-buttons">Songs</button>
                <button type="button" class="btn btn-outline-primary top-buttons">Genres</button>
            </div>
            <ol class="card-text top-texts text-center">
                {{#each spotifyInfo.recommendationsA}}
                    <li>{{this.name}} - {{this.artists.0.name}}</li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>
