<div class="widget top_widget" id='topAlbums_widget' >
    <div class='card top-stuff h-100 text-center'>
        <div class="card-header">
            <h4>Top Albums</h4>
        </div>
        <div class="card-body">
            <div class="btn-group container-fluid " role="tracks-time" aria-label="Time range for Top Albums">
                <button type="button" class="btn btn-outline-primary top-buttons">Last Month</button>
                <button type="button" class="btn btn-outline-primary top-buttons">Last 6 Months</button>
                <button type="button" class="btn btn-outline-primary top-buttons">Last Years</button>
            </div>
            <ol class="card-text top-texts">
                <li>Album 1</li>
                <li>Album 2</li>
                <li>Album 3</li>
                <li>Album 4</li>
                <li>Album 5</li>
            </ol>
        </div>
    </div>
</div>
