<div class="widget col-12 col-lg-6" id="topGenres_widget">
    <div class="card text-center">
        <div class="card-header">
            <h4>Top Genres</h4>
        </div>
        <div class="card-body">
            <div class="chart-container">
                <canvas id="doughnut-chart"></canvas>
            </div> 
        </div>
    </div>
</div>

{{> scripts/topGenresScript }}
