<div class="widget col-12 col-lg-4" id='topTracks_widget' >
    <div class='card text-center'>
        <div class="card-header">
            <h4>Top Tracks</h4>
        </div>
        <div class="card-body">
            <div class=" btn-group container-fluid" role="tracks-time" aria-label="Time range for top tracks">
                <button type="button" class="btn btn-outline-primary top-buttons">Last Month</button>
                <button type="button" class="btn btn-outline-primary top-buttons">Last 6 Months</button>
                <button type="button" class="btn btn-outline-primary top-buttons">Last Years</button>
            </div>
            <ol class="card-text text-center">
                {{#each spotifyInfo.topTracksShort}}
                    <li>{{this.name}} - {{this.artists.0.name}}</li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>
