// Your variable overrides
$dark-blue: #1C264A;
$light-blue: #273465;
$gradient: linear-gradient($dark-blue, $light-blue);
// $body-bg: #1C264A;  BUG1 For some reason this can't be set to the variable gradient
// $body-color: #1C264A;
$primary: #D8719E;

@import "../../node_modules/bootstrap/scss/bootstrap";

// Your css overrides
body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background: $gradient;  // This is here because of BUG 1
}

.btn {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 7px 10px; 
    border-radius: 25px; 
}

#login_to_spotify_button {
    margin-top: 5vh;
}