// Your variable overrides
$dark-blue: #1C264A;
$light-blue: #273465;
$gradient: linear-gradient($dark-blue, $light-blue);
// $body-bg: #1C264A;  BUG1 For some reason this can't be set to the variable gradient
// $body-color: #1C264A;
$primary: #D8719E;
$primary-shade: #D86DBF;
$primary-gradient: linear-gradient($primary, $primary-shade);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Your css overrides
body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background: $gradient;  // This is here because of BUG 1
}

.page-container {
    display: flex;
    height: 100vh;
}

#login-screen {
    flex-direction: column;

    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        .content-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        margin-top: auto;
        height: fit-content;

        .footer-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: center;
            padding: 0;
            
            li {
                a {
                    color: lightgrey;
                    margin-left: 10vh;
                    margin-right: 10vh;
                }
                a:hover {
                    color: white;
                }
            } 
        }
    }
}

#dashboard {
    flex-direction: column;

    .navbar {
        display: flex;
        flex-direction: row;
        height: 70px;
        align-items: center;
        
        color: white;
        font-size: large;
    }

    .middle {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .sidebar-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $primary-gradient;
            margin: 10px 20px 0px 20px;
            width: 80px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            ul {    
                list-style-type: none;  
                padding-left: 0;
                li {
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .page-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: scroll;
            margin-left: 10px;
            
            .page-row {
                display: flex;
                display: row;
                width: 100%;
                height: 30%;
                margin-bottom: 25px;
            }

            .widget {
                background: #2B3B70;
                border-radius: 5px;
                margin: 10px 25px 25px 0px;
            }

            #widget-a {
                width: 33%;
                height: 100%;

                .top-stuff{
                    background: $light-blue;
                    color: white;
                    font-weight: 200;
                }
                
                
                .top-buttons{
                    border-color: $primary;
                    color: white;
                    margin-top: 0;
                }
                
                .btn-group{
                    padding: 0;
                    margin: 0;
                }
                
                .top-texts{
                    margin-top: 10px;
                }
            }

            #widget-b {
                width: 33%;
                height: 100%;

                .top-stuff{
                    background: $light-blue;
                    color: #D8719E;
                }
                
                
                .top-buttons{
                    border-color: white;
                    color: #D8719E;
                    margin-top: 0;
                }
                
                .btn-group{
                    padding: 0;
                    margin: 0;
                }
                
                .top-texts{
                    margin-top: 10px;
                }
            }

            #widget-c {
                width: 33%;
                height: 100%;
            }

            #widget-wide {
                width: 100%;
                height: 100%;
            }
        }
    }

}

#aboutus {
    flex-direction: column;

    .navbar {
        display: flex;
        flex-direction: row;
        height: 70px;
        align-items: center;
        
        color: white;
        font-size: large;
    }

    .middle {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .page-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: scroll;
            margin-left: 10px;
            
            .page-row {
                display: flex;
                display: row;
                width: 100%;
                height: 30%;
                margin-bottom: 25px;
            }
        }
    }
}



.btn {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 7px 10px; 
    border-radius: 25px; 
}

#login-to-spotify-button {
    margin-top: 5vh;
    width: 30vh;
}

#icon {
    color: #fff;
    font-size: 1.35em;
}