// Your variable overrides
$dark-blue: #1C264A;
$light-blue: #273465;
$gradient: linear-gradient($dark-blue, $light-blue);
// $body-bg: #1C264A;  BUG1 For some reason this can't be set to the variable gradient
// $body-color: #1C264A;
$primary: #D8719E;
$secondary:#fadadd;
$primary-shade: #D86DBF;
$primary-gradient: linear-gradient($primary, $primary-shade);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Your css overrides
body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background: $gradient;  // This is here because of BUG 1
}

.page-container {
    display: flex;
    height: 100vh;
}

#login-screen {
    flex-direction: column;

    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        .content-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        margin-top: auto;
        height: fit-content;

        .footer-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: center;
            padding: 0;
            
            li {
                a {
                    color: lightgrey;
                    margin-left: 10vh;
                    margin-right: 10vh;
                }
                a:hover {
                    color: white;
                }
            } 
        }
    }
}

#about-us {
  body {
    font: 400 15px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: $light-blue;
    font-size: 30px;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    .para {
      font-size: 20px;
    }
  }
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .team {
    background-color: black;
    color: #fff;
    padding: 60px;
    font-family: Montserrat, sans-serif;
    .para {
      font-size: 50px;
      padding-bottom: 25px;
    }
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .bg-babypink{
    background-color: #776885;
  }
  .bg-pink{
    background-color: $primary;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    
    color: white;
    font-size: large;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
}

#dashboard {
    flex-direction: column;

    .navbar {
        display: flex;
        flex-direction: row;
        height: 70px;
        align-items: center;
        
        color: white;
        font-size: large;
    }

    .middle {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .sidebar-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $primary-gradient;
            margin: 10px 20px 0px 20px;
            width: 80px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            ul {    
                list-style-type: none;  
                padding-left: 0;
                li {
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .page-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: scroll;
            margin-left: 10px;
            
            .page-row {
                display: flex;
                display: row;
                width: 100%;
                height: 30%;
                margin-bottom: 25px;
            }

            .widget {
                background: #2B3B70;
                border-radius: 5px;
                margin: 10px 25px 25px 0px;
            }

            #widget-a {
                width: 33%;
                height: 100%;
            }

            #widget-b {
                width: 33%;
                height: 100%;
            }

            #widget-c {
                width: 33%;
                height: 100%;
            }

            #widget-wide {
                width: 100%;
                height: 100%;
            }
        }
    }

}

.btn {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 7px 10px; 
    border-radius: 25px; 
}

#login-to-spotify-button {
    margin-top: 5vh;
    width: 30vh;
}

#icon {
    color: #fff;
    font-size: 1.35em;
}