.top-stuff{
	background: #1D2C69;
	color: #D8719E;
	border-radius: 20px;
}


.top-buttons{
	border-color: white;
	color: #D8719E;
	margin-top: 0;
}

.btn-group{
	padding: 0;
	margin: 0;
}

.top-texts{
	margin-top: 10px;
}


